<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
      <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />
    <div class="row">
    <div class="col-md-6">
        <div class="row">
            #data1#
        </div><div class="row">
            #data2#
        </div><div class="row">
            #data3#
        </div><div class="row">
            #data4#
        </div>
    </div>
    <div class="col-md-6">
    	<div class="row">
            #data5#
        </div><div class="row">
            #data6#
        </div><div class="row">
            #data7#
        </div><div class="row">
            <div class="col-md-4 data8id"><center></center></div><div class="col-md-8 data8id"><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="data8id"></span></div>
        </div>
    </div>
	</div>
</div>
