<div class="eqLogic-widget eqLogic" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
  <center> #name_display# </center>
    <center><i class="fa fa-bolt"></i> 1 : #data1# </center>
    <center><i class="fa fa-bolt"></i> 2 : #data2# </center>
    <center><i class="fa fa-bolt"></i> 3 : #data3# </center>
    <center><i class="fa fa-bolt"></i> 4 : #data4# </center>
    <center><i class="fa fa-bolt"></i> 5 : #data5# </center>
    <center><i class="fa fa-cloud"></i> 1 : #data6# m3 </center>
    <center><i class="fa fa-cloud"></i> 2 : #data7# m3 </center>
</div>
